# Data Ingestion & Transformation
pandas==2.2.1
requests==2.31.0
dlt
dlt[bigquery]==0.4.5
google-cloud-bigquery==3.17.2
python-dotenv

# Workflow Orchestration
prefect==2.14.20

# Data Build Tool (dbt)
dbt-core==1.7.9
dbt-bigquery==1.7.6

# Dashboard / Visualization
streamlit==1.32.0
plotly==5.19.0
